@page
@model BasicCrud.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About Gourmet Coffee</h1>
<div>
    <p>Here at gourmet coffee we offer unique coffes from around the world.  We are always
    changging our menu so keep checking back fro added selections.  We have just launched our site this year
    so please feel free to provide any feedback you may have through our contact page.  We hope you love coffee
    as much as we do.  Enjoy your time shopping with us and we hope you keep coming back for more!
    </p>
</div>

